﻿@{
    ViewBag.Title = "Index";
}


<h2>Products</h2>

<p>
    <button onclick="location.href='@Url.Action("Create", "Products")'" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New product</button>
</p>

@Html.Partial("../shared/_DevExtremeTable")
<script>
    $(document).ready(function () {
        var columns = [
            {
                dataField: 'ProductName',
                caption: 'Product Name',
                dataType: 'string'
            },
            {
                dataField: 'ProductDescription',
                caption: 'Product Description',
                dataType: 'string'
            },
            {
                dataField: 'ProductPrice',
                dataType: 'number',
                format: 'currency',
                alignment: 'right',
            },
            {
                dataField: 'IsAvailable',
                dataType: 'boolean',
            },
            {
                caption: '',
                cellTemplate: function (container, options) {
                    var buttons = `<button onclick="location.href='/Products/Edit/${options.data.ProductID}'" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit </button>
                    <button onclick="location.href='/Products/Details/${options.data.ProductID}'" type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Details </button>
                    <button onclick="location.href='/Products/Delete/${options.data.ProductID}'" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete </button>`;

                    $(buttons).appendTo(container);
                }
            }
        ]
        CreateDxDataGrid(columns, "/Products/List")
    })
</script>