﻿<div class="demo-container">
    <div id="gridContainer"></div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.3/css/dx.common.css" />
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.3/css/dx.light.css" />
<script src="~/Scripts/dx.all.js"></script>
<script src="https://unpkg.com/devextreme-aspnet-data@2.8.2/js/dx.aspnet.data.js"></script>

<script src="~/Scripts/DevExtremeTable.js">

</script>